<div class="palm-row" x-mojo-tap-highlight='momentary'>
    <div class="palm-row-wrapper">
        <div class="task-row">
            <div style="height:48px; float:left;"><img class="thumbnail" src="#{thumbnail}" style="width:48px; height: 48px; margin-right: 8px;"></div>
            <div title="#{guid}"><span style="font-size:18px;">#{timestamp}</span>
                <p style="margin:0px; padding: 0px;padding-bottom: 3px;">#{contenttype}</p>
            </div>
        </div>
    </div>
</div>