<div class="palm-page-header">
    <div class="header-icon sharespace"></div>
    <div class="header-text">
        <span x-mojo-loc=''>Share Space</span>
    </div>
</div>

<div id="showShareList" name="showShareList" style="display:none">
    <div class="palm-group">
        <div class="palm-group-title"><span x-mojo-loc='' id="spnUsername">Task List</span></div>
        <div id="shareList" x-mojo-element="List" style="padding: 1px;margin:-12px;"></div>
    </div>
</div>

<div id="divSpinnerContainer" style="width: 130px;margin-left: auto;margin-right: auto; align-items: center;">
    <div x-mojo-element="Spinner" class="spinnerClass" id="workingSpinner" name="workingSpinner"></div>
</div>