<div class="palm-page-header">
    <div class="header-icon preferences"></div>
    <div class="header-text">
        <span x-mojo-loc='' style="text-transform:none;">webOS SimpleChat</span>
    </div>
</div>

<div id="showChatList" name="showChatList" style="display:block;">
    <div class="palm-group">
        <div class="palm-group-title"><span x-mojo-loc=''>Chat Log</span></div>
        <div x-mojo-element="Scroller" id="chatScroller" class="scrollerClass" name="chatScroller" style="height: 100px;padding: 0px;margin:-8px;">
            <div id="chatList" x-mojo-element="List"></div>
        </div>
    </div>
</div>

<div class="palm-group" style="height:36px;">
    <div class="palm-group-title"><span x-mojo-loc='' id="spanCompose">Compose</span></div>
    <div x-mojo-element="TextField" id="txtMessage" class="textFieldClass" name="txtMessage" style="margin-right:12px;"></div>
    <div id="divSpinnerContainer" style="width: 30px;margin-left: auto;margin-right: auto; align-items: center; margin-top:-25px;">
        <div x-mojo-element="Spinner" class="spinnerClass" id="workingSpinner" name="workingSpinner"></div>
    </div>
</div>