<div class="dashboard-notification-module">
    <div class="palm-dashboard-icon-container">
        <div class="dashboard-newitem" style="display:#{showCount}">
            <span>#{count}</span>
        </div>
        <div id="dashboard-icon" class="palm-dashboard-icon dashboard-icon-chat">
        </div>
    </div>
    <div class="palm-dashboard-text-container">
        <div class="dashboard-title">
            #{title}
        </div>
        <div id="dashboard-text" class="palm-dashboard-text">#{message}</div>
    </div>
</div>