<div class="palm-page-header">
    <div class="header-icon sharespace"></div>
    <div class="header-text">
        <span x-mojo-loc=''>Share Space</span>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title" id="divEditTitle">New Content</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="search-bar">
                        <div class="textfield-search" id="txtShareContent" x-mojo-element="TextField" style="height: 300px;" title="ShareContent"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div x-mojo-element="Button" id="goButton" class="buttonClass" name="goButton"></div>
<div x-mojo-element="Button" id="cancelButton" class="buttonClass" name="cancelButton"></div>
