<div class="palm-page-header">
    <div class="header-icon sharespace"></div>
    <div class="header-text">
        <span x-mojo-loc=''>Share Space - Welcome</span>
    </div>
</div>

<div class="welcome">
	<div class="my-scene-fade-top" x-mojo-scroll-fade="top"></div>

	<h3>Getting Started</h3>
	<div class="welcome-text">
	<p>Your Share Space has been created! Keep your credentials somewhere safe:</p>
	</div>

	<div id="welcome-data" class="welcome-text"></div>

	<div class="welcome-text">
	<p>Anyone who has your <b>Name</b> and <b>Share Phrase</b> can share content with you from their webOS device, or from the web.</p>
	<p>Any time content is shared to your Share Space, a public URL will be generated that you can give to others.
	This URL will contain your Share Space <b>Name</b>, but <i>not</i> your <b>Share Phrase</b>.</p>
	<p>Only users with your <b>Admin Password</b> can delete content, or manage your Share Space.</p>
	</div>

	<div class="my-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
</div>
