/* TODO: put your application-specific CSS here */

.palm-page-header .header-icon.preferences {
    background: url(../icon.png) no-repeat;
    background-size: 32px 32px;
}

.explanation-text {
    margin-top: -5px;
    padding: 14px;
    font-size: 14px;
    color: #000;
}

.chat-log {
    margin-top: 8px;
}

.chat-time {
    margin-top: 6px;
    font-size: 12px;
    font-style: italic;
    color: dimgray;
    padding-bottom: 14px;
}

.textFieldClass input {
    padding: 1px;
}

.dashboard-icon-chat {
    background: url(../icon-48.png);
}