<div class="palm-dialog-content">
    <div id="hue-title" class="palm-dialog-title">
        Getting Acquainted
    </div>
    <div class="palm-dialog-seperator" style="height: 8px;"></div>
    <div class="palm-body-text">
        SimpleChat is a lightweight message board for webOS. It keeps a log of recent messages, and allows you to post public messages.<br> How do you want to identify yourself?
    </div>

    <div class="textfield-group" x-mojo-focus-highlight="true" id="divUserInfo" style="display:block; margin-left: 15px; margin-right: 15px;">
        <div class="title">
            <div id="txtUserName" name="txtUserName" x-mojo-element="TextField" title="senderName"></div>
        </div>
    </div>

    <div class="palm-dialog-seperator" style="height: 18px;"></div>

    <div class="palm-dialog-buttons">
        <div x-mojo-element="Button" id="goButton"></div>
    </div>
</div>